/*
-------- Basic Formatting --------
*/
	
.normal {
	font-weight: normal;
}

.tdr {
	text-align: right;
}

.tdc {
	text-align: center;
}

	
/*
-------- Loading Animation --------
*/

.modal-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 );
}

body.loading {
    overflow: hidden;   
}

body.loading .modal-loading {
    display: block;
}

body.loading .modal-loading .spinner-container {
	width:270px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -135px;
	text-align: center;
}

#loading-table {
	position:absolute;
	padding-top: 50px;
	text-align: center;
    background: rgba( 255, 255, 255, .8 );
	display:none;
}


/*
-------- Table Styles --------
*/

#results_table tbody tr.selected {
	background: #e74848 !important;
}

#results_table tbody tr.selected td {
	color: #fff !important;
	background: transparent !important;
}


#results_table tbody tr {
	cursor: pointer;
}


#results_table tbody td:last-child {
	text-align: right;
	white-space: nowrap;
}


#results_status {
	position: relative;
	padding-top: 39px;
}

#results_status::after {
	content: "Status";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}