table.tablesorter {
	width: 100%;
	border-collapse: collapse;
}

table.tablesorter > thead > tr,
table.tablesorter > tbody > tr
{
	border: 1px solid rgb(221, 221, 221);
}

table.tablesorter > thead > tr > th {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	height: 35px;
    cursor: pointer; 
    font-weight: bold; 
    color: #777;
	background: #fafafa;
	background: -moz-linear-gradient(#fafafa, #eaeaea);
	background: -webkit-linear-gradient(#fafafa, #eaeaea);
	background: linear-gradient(#fafafa, #eaeaea);
	border-right: 1px solid rgb(221, 221, 221);
	white-space: nowrap;
}

table.tablesorter > thead > tr > th:last-child {
	border-right: none;
}


table.tablesorter tbody > tr > td {
	padding: 0 10px 0 10px;
	height: 35px;
}

table.tablesorter > tbody > tr > td {
	border: 1px solid rgb(221, 221, 221);
}

table.tablesorter > tbody > tr > td:last-child {
	border-right: none;
}


table.tablesorter > tbody > tr.even > td {
	background-color: rgb(255, 255, 255);
}	

table.tablesorter > tbody > tr.odd > td {
	background-color:  rgb(249, 249, 249);
}	

table.tablesorter > tbody > tr.highlight > td {
	background: rgba(210,226,241, 0.5);
}

table.tablesorter > thead > tr > th.tablesorter-headerSortUp { 
    color: #08C;
    background: #fafbfd;
    background: -moz-linear-gradient(#fafbfd, rgb(210,226,241));
    background: -webkit-linear-gradient(#fafbfd, rgb(210,226,241));
    background: linear-gradient(#fafbfd, rgb(210,226,241));
} 

table.tablesorter > thead > tr > th.tablesorter-headerSortDown { 
    color: #08C;
    background: #fafbfd;
    background: -moz-linear-gradient(#fafbfd, rgb(210,226,241));
    background: -webkit-linear-gradient(#fafbfd, rgb(210,226,241));
    background: linear-gradient(#fafbfd, rgb(210,226,241));
} 

table.tablesorter > thead > tr > th.tablesorter-header > div:before {
	font-family: "FontAwesome";
	content: "\f0dc";
	margin-right: 10px;
}

table.tablesorter > thead > tr > th.tablesorter-headerSortUp > div:before { 
	font-family: "FontAwesome";
	content: "\f0de";
}

table.tablesorter > thead > tr > th.tablesorter-headerSortDown > div:before { 
	font-family: "FontAwesome";
	content: "\f0dd";
}

table.tablesorter > thead > tr.tablesorter-stickyHeader  {
	-moz-box-shadow: 0 6px 6px -3px rgba(64, 67, 72, 0.3);
	-webkit-box-shadow: 0 6px 6px -3px rgba(64, 67, 72, 0.3);
	box-shadow: 0 6px 6px -3px rgba(64, 67, 72, 0.3);
	border-bottom: 0;
	border-top: 0;
}


